/* css */
*{
    font-family: 'Source Sans Pro', sans-serif;
}

.complete p{
    text-decoration: line-through;
    color: red;
}

li{
    list-style: none;
}

.trying{
    flex: 0.6;
}

i{
    font-size: 13;
}